[2017-01-27 23:33] Dany-R commented on #266
I identified a possible problem in `NuProj.ProjectSystem.15/source.extension.vsixmanifest `:
The line
 `<Dependency Id="Microsoft.VisualStudio.MPF.15.0" DisplayName="Visual Studio MPF 15.0" d:Source="Installed" Version="[15.0,15.0)" />`
 should have a Version attribute of `"[15.0,16.0)"` (**16** instead of **15** as upper excluded boundary).

I did not test it but wanted to let you know ;)

[2017-01-28 10:47] Dany-R commented on #266
Oh, and for the installation, the path to the IDE directory has changed:

old: `"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE"`
new: `"C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\"`

But still, I don't get it to work with VS2017 RC3.

[2017-01-30 16:07] AArnott commented on #266
Thanks, @Dany-R. Regarding the path for installation, it isn't always that path. For example Community SKU would default to a different location. But the real trick is that someone can install VS multiple times to distinct locations now (a new feature in VS2017) which complicates the job of MSI installers for VS extensions.

[2017-01-30 16:08] AArnott commented on #276
Do the referenced projects themselves build?
I've never seen a problem where nuproj's build doesn't update its package with updated input DLLs, but I have seen several problems where the C# project system will not notice a change and not compile the DLL at all.

[2017-02-05 21:35] heaths opened #277 "NuProj should override its own NuProjPath"
Rather than us having to hack our .nuproj projects, you could instead add a `build\NuProj.props` that overrides `NuProjPath`.

[2017-02-06 08:50] peterM opened #279 "The project type is not supported by this installation"
Hello.

I have installed latest version of NuProj.
Every time I try add NuGet Project to my Solution I get this error.
I also tries reinstall , repair installation. All time wit no success.
![capture](https://cloud.githubusercontent.com/assets/2149830/22640164/ba8dffd2-ec51-11e6-8962-a09dfc881272.PNG)

Thanks
Peter

[2017-02-06 10:14] bradphelan opened #280 "Trying to load a .nuproj file in VS2015 crashes."
When trying to load the `.nuproj` visual studio project I get the following error stack trace in the visual studio log

![image](https://cloud.githubusercontent.com/assets/17650/22643026/32fce5b8-ec5d-11e6-9158-00b49858a2a3.png)

The project is an open source project at https://github.com/Weingartner/Migrations.Json.Net

[code]

The nuproj file is

[code]

[2017-02-06 10:27] bradphelan commented on #280
Fixed by manually making changes to the `nuproj` file. The version must have changed since last using it.

[code]

[2017-02-06 10:27] #280 closed

[2017-02-07 16:26] RaduBogdanIoan commented on #271
I am also able to reproduce this issue ...

[2017-02-07 17:37] kovalikp commented on #271
This issue was resolved by  4505753. @AArnott needs to release new version.

[2017-02-09 12:30] mfidemraizer commented on #266
Hey! Any updates on this? I'm migrating my project [TrackerDog](https://github.com/mfidemraizer/trackerdog) to distribute it as a .NET Standard library, and I had to switch to VS 2017 RC to work on this.

Currently it's already migrated but I'd like to publish it to NuGet, and VS2015 solution was using NuProj...

Thank you in advance!

[2017-02-09 15:34] kkoinn commented on #271
Where can I download a new version of the msi file when it's released?

[2017-02-09 18:17] kovalikp commented on #271
You might want to try grab latest one from CI build here: https://ci.appveyor.com/project/terrajobst/nuproj/build/artifacts

[2017-02-10 14:11] kkoinn commented on #271
Thanks, I tried the latest build but gets a incompatible error. Error message displays "This project is incompatible with the current edition of visual studio"
I'm using visual studio 2015 enterprise

[2017-02-15 04:00] AArnott commented on #279
What version of Visual Studio are you using?

[2017-02-20 12:45] michaelkollmann commented on #266
VS2017 will go RTM on March 7th.

How is the progress on supporting the new VS release? I'd like to switch to VS2017 as fast as possible, the only thing that will be missing then is .nuproj support.

[2017-02-20 16:48] mfidemraizer commented on #266
@michaelkollmann  Maybe the maintainers have lost interest on going further with NuProj because VS2017 has already a new project property section to create its NuGet package [during project's build](https://docs.microsoft.com/en-us/nuget/guides/create-net-standard-packages-vs2017).

BTW, AFAIK this only applies to .NET Standard class libraries...

[2017-02-20 17:26] AArnott commented on #266
I'm nearly done with VS 2017 support. And nuproj offers enough unique functionality that the new project type in 2017 doesn't have that it's worth taking forward. However,  nuproj is quite out of date with respect to .netstandard support and the NuGet team is working on the successor to nuproj and they're reportedly close to completion. When they do finish, if they delivery everything nuproj does,

[2017-02-21 15:29] peterM commented on #279
VS 2015 U3

[2017-02-21 15:32] kovalikp commented on #279
Could you try to clean VS MEF cache? I't located in `%localappdata%\Microsoft\VisualStudio\14.0\ComponentModelCache`. Also if you're using NuGet packages for build integration, can you update them too?

[2017-02-21 15:53] peterM commented on #279
Corrupted was MEF cache :) ... thanks
You can close

[2017-02-21 15:53] #279 closed

[2017-03-04 16:54] heaths opened #281 "Custom metadata not retained from NuSpecTemplate"
To build a package that supports Chocolatey's guidelines and recommendations, I need to add some package metadata. I see from the targets and task source you can add a `$(NuSpecTemplate)` pointing to a _.nuspec_ file, but custom metadata is not retained. Seems to be no other way to add custom metadata to projects.

[2017-03-04 17:14] AArnott commented on #281
If it's dropped, I wonder if it's nuget pack that drops it -- or the nuget OM in general.
But we can keep this active while it's true either way.

[2017-03-04 17:17] heaths commented on #281
Digging into this more, it's a problem in NuGet.Packaging. They don't support custom metadata. Any fix would have to be on their side. I've opened nuget/home#4751.

[2017-03-04 17:19] heaths commented on #281
If I did fix it on their side (have a few ideas), would you be open to taking a new version? I doubt they'd take a change on 2x but looks like they're already churning on 4.3.

[2017-03-04 19:46] kovalikp commented on #281
Master branch is currently using quite old version of the Nuget (2.X something). I've made a branch some time ago trying to get full support of project.json files (including resolving dependencies), but never got to finish it. But as the 1st step, I did upgrade the NuGet packages to 3.5 in https://github.com/kovalikp/nuproj/tree/wip/json. I guess we should try first, how does NuProj behaves with l

[2017-03-04 21:50] AArnott opened #282 "Proposal to deprecate NuProj in favor of Nugetizer 3000"
I just reviewed the current [Nugetizer 3000](https://github.com/NuGet/Home/wiki/NuGetizer-3000), which shows some promise. It has Microsoft funding and is [open source](https://github.com/NuGet/NuGet.Build.Packaging). Without consulting us first, they took the nuproj file exxtension for their project system. They already support VS2017.

I think it would be best to retire NuProj instead of make re

[2017-03-04 21:51] AArnott commented on #281
Before investing too much, consider #282

[2017-03-05 07:07] heaths commented on #281
Would have to see if they retain custom metadata.

[2017-03-05 13:35] kovalikp commented on #282
To me the Nugetizer 3000 is *spiritual successor* of the NuProj. I'm quite happy about passing the torch to project with official support from the NuGet team. My only concern is being able to move to VS2017 as soon as possible, without need all to migrate my NuProj projects **immediately**.

So I think we should release one final version with working VS2017 support (as soon as possible after RTM h

[2017-03-05 14:11] kovalikp commented on #266
The issue here is that VS2017 RC3 does not appear to write `SOFTWARE\Microsoft\VisualStudio\15.0\Setup\VS` registry node. Values there are being used to locate extension directory by WiX VS extension that we use. I don't know if this behavior will change in RTM. But currently we don't have reliable way to determine correct installation directory for VS2017 extension. @AArnott do you have any info

[2017-03-05 18:04] AArnott commented on #282
That seems reasonable, but it complicates the story with .nuproj extension. That basically means that one extension refers to *both* project systems, which VS can't handle. Certain scenarios could probably be made to work, but it would be at least confusing.

[2017-03-05 18:17] kovalikp commented on #282
Hmm, I wasn't aware of that limitation. I thought the deciding factor is what's imported in project file, not what's the file extension. If NuProj and Nugetizer would work, as long as the solution contains projects of only one type, I would be fine with it.

Do you know if Nugetizer project system is going to be release at the same time as VS 2017 RTM?
/cc @kzu

[2017-03-05 20:54] kzu commented on #282
@kovalip that's the goal

[2017-03-09 06:13] msfcolombo opened #283 "Explicitly set files not copied because they are marked as a reference"
I'm trying to package a helper tool in addition to my DLL. There is also a dependency to another package in the same solution. So my nuproj looks like this:

[code]
The problem is that my tool also depends on files that are on `MyLibraryCore`. They get removed by the `GetPackageFiles` target from nuproj, and as a result my tool misses a DLL when users try to execute it from the bin directory.

I t

[2017-03-09 16:35] AArnott commented on #283
Do you actually want to maintain the package reference to MyLibraryCore? I think it's a little unusual to have both a package reference and carry the payload locally, but if your package doubles as both a tool and a library then I guess it makes sense.

I sympathize with your desire for an ItemType that doesn't get filtered. I think `PackageFile` might work for you (just based on memory). Otherwis

[2017-03-09 18:06] msfcolombo commented on #283
The reason to reference MyLibraryCore is that nuproj will automatically add a nuget dependency in the Nupkg. Without the project reference, I'm forced to add an explicit `Dependency` element, and this causes me other troubles (see [here](http://stackoverflow.com/questions/42463551/why-nuproj-is-not-resolving-variable-inside-dependencyversion)).

[2017-03-10 01:15] keiichi-morisato opened #284 "Support packaging of C/C++ DLL and EXE projects"
The CoApp tools are quite old and we need a supported route for all of our C and C++ written DLLs.

[2017-03-10 01:29] AArnott commented on #283
Yes, I understand the effect of a ProjectReference to a NuProj. My question is why you want both a NuGet dependency expressed as well as embed the content of that package. Usually you just do one or the other.

[2017-03-10 03:31] msfcolombo commented on #283
Please look at issue text. The need is simple: When the user starts `MyTool.exe` from the `bin` directory, it should just work. This requires the `MyLibrary.dll` to be copied to `bin` directory, otherwise it will report a missing package. That's all!

BTW, `PackageFile` doesn't work. nuproj [nukes it](https://github.com/nuproj/nuproj/blob/master/src/NuProj.Targets/NuProj.targets#L629) just before

[2017-03-10 07:05] beufordy3k commented on #266
You need the setup configuration api as used by these samples to get the installation location, https://github.com/microsoft/vs-setup-samples

[2017-03-10 10:58] larsjuh opened #285 "Support for VS 2017"
Any plans to support VS 2017?

[2017-03-10 17:46] AArnott commented on #283
Yes, I read the text. My question is why you need *both* a package dependency *and* the embedded file. I understand why you need the embedded file. Are you sure you also need a package dependency? I'd be curious what your reason is. I know a reason that might apply, but I want to confirm first.

[2017-03-10 17:46] AArnott commented on #285
Dupe of #266

[2017-03-10 17:46] #285 closed

[2017-03-10 17:52] msfcolombo commented on #283
I have two packages: the "core" which contains interfaces intended for unit testing, and the "library itself" which contains implementation and a helper tool. The "library itself" depends on the "core". I want Nuget to automatically fetch the "core" when someone installs the "library itself".

[2017-03-10 19:34] AArnott commented on #283
OK, great. That sounds like a reasonable use case.
Can you take a look at [this sample](https://github.com/Microsoft/vs-threading/blob/v15.0/src/Microsoft.VisualStudio.Threading.NuGet/Microsoft.VisualStudio.Threading.NuGet.nuproj#L49) of how I force-add files to my package to see if it helps guide you how to workaround this?

[2017-03-10 21:26] kovalikp commented on #282
Unless I'm missing something profound, Nugetizer project system seem to be able to reference only netstandard projects, but not legacy .csproj projects. Due to reasons, at company we need to support multiple packages with multi-targeting including net35 assemblies. Just for this reason it's worth to me have 2017 version of NuProj. Until I'll be 100% sure I can move all my projects to new system.

[2017-03-10 21:30] kovalikp commented on #266
I'm working on NuProj extension that does not require `.msi` to install project build system, just the `.vsix` file. I should have pull request ready by end of the weekend.

[2017-03-10 21:44] beufordy3k commented on #266
@kovalikp 👍👍

[2017-03-11 03:40] AArnott commented on #282
Agreed. I was unaware of that limitation. Is it true, @kzu?

[2017-03-11 15:28] kzu commented on #282
It shouldn't. /cc @adalon

On Sat, Mar 11, 2017, 12:40 AM Andrew Arnott <notifications@github.com>
wrote:

--

--
/kzu from mobile

[2017-03-11 15:38] kovalikp commented on #282
Then I assume this is a bug, not a feature:
![image](https://cloud.githubusercontent.com/assets/8546121/23824484/fbf971d2-0677-11e7-86fd-aece982f40e5.png)

[2017-03-11 16:33] kzu commented on #282
Yep.

Also, I'm sure if you click Yes, it will just work.

[2017-03-12 00:35] kovalikp commented on #266
@AArnott could you have a look at https://github.com/kovalikp/nuproj/tree/wip/vs2017? I've been able to construct `NuProj.ProjectSystem.15.vsix` so it copies all files to appropriate folders. The only outstanding issue is that I've lost capability to load resources from registered assembly, so that project name, description and icon are not being applied in New Project dialog. I've got no clue why

[2017-03-12 00:45] AArnott commented on #266
Cool. Yes, I'll take a look.

[2017-03-12 01:09] AArnott commented on #266
@kovalikp : when I compare the pkgdef between the 14 version and the 15 version, I see this:

[code]

Without a codebase, VS can't find the DLL when the CLR wants to load it. Can you fix this difference?

[2017-03-12 02:14] kovalikp commented on #266
GOT IT! Had to:
[code]

[2017-03-12 10:00] kovalikp commented on #266
One last thing. This is just about project in solution.
When referencing `NuProj.Tasks`, project system does not pull dependencies if they com from `project.json`. It works fine when using `packages.config`, so that's why I made `NuProj.Tasks.15`. I've also updated `Microsoft.Build.*` references to latest version. In hindsight, this seems to be unnecessary. Sooo...

- Should I revert it back to si

[2017-03-12 17:02] AArnott commented on #266
I'd prefer we consistently use project.json (or upgrade to VS 2017 PackageReference). There are ways to get msbuild to copy local all the dependencies into the VSIX if that's what you're wondering about. I can share some msbuild snippets I've used for that purpose.

[2017-03-12 17:03] AArnott commented on #266
BTW, I had an awful time building your branch. I was amazed AppVeyor was able to figure it out with virtually no instructions. I had to execute several restore commands before things started building. Can you write a script or doc or something on how to do it?

[2017-03-12 17:14] kovalikp commented on #266
There is a `build.proj` in the root of the branch. This one is being run by the AppVeyor. I've just purged every bin/obj folder and then execute msbuild without any switches from branch root. But if you provide me with those snippets, I will revert `GenerateProjectSpecificOutputFolder=true` from `binaries.proj` and return the solution closer to original state. Just with updated packages.

[2017-03-14 15:50] kovalikp commented on #266
@AArnott could you share those msbuild snippets to include project references from NuGet in the vsix?

[2017-03-14 17:41] AArnott commented on #266
Here you go, @kovalikp:

Add this to the projects being referenced (probably through some commonly imported .targets file).

[code]

Then to your `ProjectReference` items, add this metadata:
[code]

For my scenario (which isn't quite like yours, but similar) I also added this metadata to the project reference items:

[code]

I then had a target that redirected all such items to the package, in the

[2017-03-15 11:30] kovalikp commented on #266
Thanks. Hopefully I find some spare time to integrate it soon(ish).

[2017-03-15 17:19] adalon commented on #282
@kovalikp the following commit fixes the warning you were getting:

https://github.com/NuGet/NuGet.Build.Packaging/commit/8926d8bb7c456eba2a934728213e2d34bbd8f05e

Anyway, as kzu said, if you decide to continue (in the warning dialog) the reference will be added.

[2017-03-15 19:18] AArnott commented on #282
Thanks, @adalon. I would really like the legacy NuProj users to share a high confidence that Nugetizer can effectively replace NuProj going forward, before Nugetizer goes RTW so we can do the right thing w.r.t. the project file extension. I don't think it's a good story if we have two project systems both using the nuproj extension.

[2017-03-15 19:25] kzu commented on #282
Given that NuProj doesn't support VS2017, and NuGetizer doesn't support VS2015, I don't really see a big problem with having two distinct project systems.

After all, .csproj in VS2015 is one project system, and in VS2017 when you use .NETStandard is another one, complete with a different format and all.

Granted, am automated migration from the VS2015 to the VS2017 format would decrease concerns

[2017-03-15 19:35] mhutch commented on #282
I'm not sure the extension matters. Don't we already have this with the dozen+ different 'csproj' types?

That said, I'm not attached to nuproj either.

[2017-03-15 19:50] kovalikp commented on #282
I kind of like my projects that generate NuGet packages with .nuproj extension, regardless what project system they use beneath. Ideally when migrating to Nugetizer, I would just change the imports/sdk for project system and rename some properties. Without need to also rename projects and subsequently fix the referenced dependencies.

[2017-03-15 20:44] AArnott commented on #282
Behind all those .csproj project types is just one project system (well, with VS2017 we came up with a new way to split it into two because CPS is finally taking over, but I don't know the details or if it could be applied here).

@kovalikp has been working on a VS2017 port of NuProj so the overlap may exist soon.

[2017-03-26 21:18] kovalikp commented on #266
So, VSSDK build system excludes MSBuild and NuGet packages implicitly. Extension works just fine without them. I've created a PR  for @AArnott to review. For those who cannot wait, you can try download `NuProj.ProjectSystem.15.vsix` from CI build here: https://ci.appveyor.com/project/kovalikp/nuproj/build/artifacts

[2017-03-29 06:00] beufordy3k commented on #266
Ok, so I've had an opportunity to try this out with a fresh solution and projects. Things are coming along nicely and a number of the minor annoyances compared to the previous version are fixed. Huzzah!

There still seems to be some work needed... as per below.

I'm using VS 2017 Enterprise,

[code]
Installation of the extension and creation of some new .nuproj projects went off without a hitch.

[2017-03-29 22:29] bbowman commented on #281
@kzu would love to know here as well.

[2017-03-30 23:45] AlexEyler opened #287 "Release update to NuProj on NuGet"
There have been quite a few updates to nuproj since the last release (0.11.14-beta), including a fix for a bug that blocks NuProj from working on MSBuild 14.0+ (#257). Are there any plans to release a new version to nuget.org? Or is there a different release vehicle that I'm unaware of?

[2017-04-10 09:40] AndyCJ commented on #287
I think everyone is currently distracted trying to figure out VS2017 support: https://github.com/nuproj/nuproj/issues/266

And if it's even worth carrying on with nuproj: https://github.com/nuproj/nuproj/issues/282

[2017-04-11 13:55] TheFrogPrince commented on #279
This did the trick for me.  The problem presented itself when I uninstalled NuProj and then reinstalled it (because I couldn't add any project items to the NuProj project).  Upon reinstall, I would get this error.   Also... by clean, it's worth noting that Kovalikp means to go ahead and delete the ComponentModelCache folder.  It will be rebuild the folder the next time you start Visual Studio.

[2017-04-12 20:45] beufordy3k commented on #266
@AArnott @kovalikp any more progress on this? anything I can do to test/help out?

[2017-04-12 20:49] kovalikp commented on #266
I should have time to look at this over the weekend. I'm assuming you don't have any other version of VS installed on this machine?

[2017-04-12 20:54] beufordy3k commented on #266
@kovalikp I actually have both VS 2015 Enterprise and VS 2017 Enterprise installed.

[2017-04-19 12:46] quezlatch opened #288 "target multiple frameworks in a single nuget package"
I'm pretty sure i'm missing something obvious, but I want to target multiple frameworks in a single nuget package.
* Is this possible?
* Do I create a project for framework and just reference it?
* Would this handle the framework groups, dependencies, etc?

Thanks

[2017-04-19 15:31] AArnott commented on #288
Yes, you can target multiple frameworks. Just have multiple project references, each to a project that targets a different framework. If you're using packages.config, the dependencies will be all written out for you automatically.

caveats: It doesn't pick up PackageReference or project.json dependencies automatically. And it doesn't work with the new .NET SDK multi-targeting projects. However, @k

[2017-04-19 15:31] #288 closed

[2017-04-19 19:08] quezlatch commented on #288
many thanks. that's worked perfectly!

[2017-04-25 15:04] Infarinato opened #289 "ReSharper 2017 can no longer build NuGet Package projects"
Admittedly, this is probably a ReSharper bug, but I was wondering whether it might have anything to do with some NuGet Package Project known issue, just in case…

Basically, ReSharper 2017 doesn’t seem to be able to build NuGet Package projects anymore (”ReSharper build” — _ReSharper 2016 used to build them fine_). When I try to clean or build _any_ NuGet Package project like the simple one in the

[2017-04-25 15:15] AArnott commented on #289
Are you talking about Resharper's *IDE* or its VS extension? Your screenshot looks an awful lot like VS but your description sounds like VS mostly.

I suspect you may have a fancy Unicode character in the expression that *looks* ok but isn't a standard ascii character that MSBuild is expecting.

[2017-04-25 15:33] Infarinato commented on #289
Thank you very much for your quick reply, Andrew. :-)

I’m talking about the ReSharper (2017) extension for Visual Studio (2015, in my case).

![resharper_build](https://cloud.githubusercontent.com/assets/365768/25393899/abb9b5e4-29d4-11e7-95f2-bed5a2e7259a.png)

…and don’t think I’ve got any fancy Unicode character anywhere!

[2017-04-25 16:41] AArnott commented on #289
Well, if you can build using VS build or from the command line, but ReSharper's build fails, then yes, please file a bug against Resharper.

[2017-04-25 16:41] #289 closed

[2017-04-26 08:43] Infarinato commented on #289
Apparently, someone has already done it: https://youtrack.jetbrains.com/issue/RSRP-464192. :-)

[2017-04-28 14:01] BenLewies commented on #212
I'm also experiencing this issue - version 0.11.14.26195 of the NuProj VS2015 Extension

[2017-05-01 16:19] beufordy3k commented on #287
@AndyCJ Any update on with path forward regarding, (https://github.com/nuproj/nuproj/issues/266) or (https://github.com/nuproj/nuproj/issues/282)

[2017-05-03 08:09] AndyCJ commented on #287
@beufordy3k I don't have any more information sorry, I just read those tickets and pointed it out to AlexEyler.

[2017-05-15 17:07] eferreyra commented on #271
Hi, any news on this issue?
Using VS2015 Enterprise too, but regular developers have Community.

[2017-05-18 08:32] lolofr62 commented on #212
I encounter the same problem, maybe since VS2015 update 3 installation

[2017-05-31 04:17] Bakanych opened #290 "Question: How to push generated package to Nuget feed automatically"
How can I achieve this using nuproj? I was thinking about after build events but I cannot set it for nuproj project.
I will be nice to have this feature out of box.

[2017-06-12 15:44] AArnott commented on #290
Dupe of #46

[2017-06-12 15:44] #290 closed

[2017-06-12 15:57] AArnott commented on #287
Done. It's 0.11.28-beta.

[2017-06-12 15:57] #287 closed

[2017-06-28 15:46] TheSkyGuy opened #291 "Error Loading Nuget Project - Visual Studio 2015 Enterprise (update 3)"
Hi,

When trying to load a Nuget project into Visual Studio 2015, I receive the error:  "The project system has encountered an error.  Could not find "BrowseObject" catalog for project root node".  I tried to clear the cache as seen on this forum but still receive the same error when reopening the project.  Diagnostic log attached.

Thanks for your help!

[VsProjectFault_a0630991-f2a9-42c9-bdca-be

[2017-06-28 16:33] jamesharling commented on #266
I'm getting the same issue as @beufordy3k on a copy of VS 2017 Professional:

`System.IO.FileNotFoundException: Could not load file or assembly 'NuGet.Frameworks, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified.`

This was using the latest artifacts from AppVeyor, commit `2696627b`.

[2017-07-07 06:20] paulomorgado commented on #282
@kzu

That's only for .NET Standard and .NET Core projects. :NET Framework projects work in both VS2015 and VS2017.

[2017-07-14 03:50] kzu commented on #281
There isn't any API in NuGet that allows you to define custom metadata in the nuspec.

If you get such an API introduced there, NuGetizer will happily support it.

[2017-07-21 16:47] dustincleveland opened #292 "Cannot Add Build Tooling to Solution"
I am trying to build and publish NuGet packages during my build process using VSTS. When attempting to follow the directions in https://github.com/nuproj/nuproj/blob/master/docs/Build.md,
I've discovered that using NuGet 3.0 in Visual Studio 2015, it does not seem that Solution-level packages are supported anymore. Even when manually creating the .nuget\packages.config file, Visual Studio does not

[2017-07-21 18:36] AArnott commented on #292
In the past, I have added a project.json file to my NuProj project directory. NuGet Restore picks that up and restores packages from there. Would that work for you?

[2017-07-23 14:11] dustincleveland commented on #292
I couldn't add a project.json file through Visual Studio (in fact, I cannot add any type of item to the NuProj project through the Visual Studio Add Item dialog), so I created one manually in Windows Explorer. Here's what I put together:

[code]

I also added an empty class library to the project so that I would have access to the 'Restore NuGet Packages' command in the Solution's context menu. Un

[2017-07-23 14:58] AArnott commented on #292
The full guidance that uses project.json is [here](https://github.com/nuproj/nuproj/blob/881f6499544335e083f95d155b227ed6e1d25156/docs/BuildId).

[2017-07-23 15:34] dustincleveland commented on #292
Links to 404

[2017-07-23 21:57] AArnott commented on #292
Sorry. Link fixed.

[2017-07-24 23:33] hsinyij opened #293 "Nuproj - Cannot find the packed file"
Hi,

I tried to use nuproj to automatically generate the Nuget package with build (quickbuild/cloudbuild). There are some files which are packed with the Nuget package. I checked the generated Nuget package and the files are well packed and well placed as we expected. However, when we install that package and want to get the files, we use the macro to resolve to the nuget package as follows: $(Pkg

[2017-07-25 17:32] AArnott commented on #293
@hsinyij Can you share the nuget package, or use the `tree /f` command on the unzipped directory from the package so we can see its layout?
Alternatively if you just tell us whether all the assemblies in the package are found under the lib folder, that can help.
My suspicion is that nuproj is building a typical NuGet package, but your $(Pkg...) macro makes me think you may be using the package as

[2017-07-25 21:52] hsinyij commented on #293
Hi,

Yes. I got all the .dlls under lib folder, but some data files which are needed is outside the lib folder. The structure is like:

DataFiles\
lib\
NativeDlls\

After I posted this question, I did search a little bit about that and found that there is a flag for nuproj: NoDefaultExcludes. I set it to true, rebuilt the nuget package and re-install that in my project. Then everything works for m

[2017-07-27 10:09] AndyCJ commented on #266
I'm seeing this error for the same commit (`2696627b`) as @jamesharling.

Like @beufordy3k, I also have VS2015 installed.

[2017-07-27 10:43] AndyCJ commented on #266
I found this issue on the NuGet github site which seems to be relevant: https://github.com/NuGet/Home/issues/5242

It talks about VS 2017 Update 3 updating the assembly version to 4.3, the exception message says it's looking for version 4.0, and the issue says that `devenv.exe.config` doesn't have the assembly binding redirects to make it work (and they won't be added).

I'm still on VS2017 Update

[2017-07-29 22:53] AArnott commented on #266
@kovalikp  is this something you want to follow up on and fix?

[2017-07-29 22:54] AArnott commented on #293
ah, I hate that default. Glad you found the fix.

[2017-07-29 22:54] #293 closed

[2017-08-04 16:55] ackphht commented on #266
Just wanted to mention that I was able to get this working for VS2017, in case it helps anyone else.

I downloaded the vsix package from the CI server per [this comment](https://github.com/nuproj/nuproj/pull/286#issuecomment-319782855). After installing it, I started getting the error mentioned above for "Could not load file or assembly 'NuGet.Frameworks, Version=4.0.0.0". I turned on fusion loggi

[2017-08-07 13:22] kovalikp commented on #266
I've finally got some time to look at this again over the weekend. Just getting unit test working under VS2017 build system is little bit more complicated than I expected. So, work in progress...

[2017-09-08 09:45] michaelkollmann commented on #266
It's been a month. Any updates?

[2017-09-25 19:22] submatrixpxq commented on #266
Any updates ?

[2017-11-22 07:39] jnm2 commented on #100
The property `<ReferringTargetFrameworkForProjectReferences>` works well enough for what I need right now.

[2017-11-27 13:07] Pzixel commented on #266
We have to have some way to open one single project from 2015 and 2017 studio. Now it's not possible and it's frustrating.

[2017-11-28 19:42] dparkar commented on #266
Same requirement here. A NuProj Project will not load in VS2017. Appreciate the work !

[2017-12-07 19:39] sagmor opened #295 "Microsoft.Common.props double import warning"
I'm getting issues with the following warning:
` ` `
warning MSB4011: "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Microsoft.Common.props" cannot be imported again.
It was already imported
` ` `

On my use case I need to import this file in order to get the required variables to use NuProj with CBT (http://commonbuildtoolset.github.io/)

PR is on it's way

[2017-12-16 19:03] #295 closed

[2017-12-16 19:34] AArnott commented on #266
Published as https://marketplace.visualstudio.com/items?itemName=NuProjTeam.NuProj2017

[2017-12-16 19:34] #266 closed

[2017-12-17 10:34] Pzixel commented on #266
@AArnott 404

[2017-12-17 15:46] AArnott commented on #266
You're right, @Pzixel. It wasn't marked "public". Thanks. I've fixed that.

[2017-12-20 12:18] dmalanij commented on #266
Unfortunately, is not working. At least not for me in 2 different computers. Even if nuproj files open correctly, when building they fail with
[code]
And the source points to

[code]

This is happening in a computer where NUPROJ for VS2015 used to work fine.  Is there any special prerequisite for this version?

I'll try to take a look with more detail later as well as trying it out on a third comp

[2017-12-20 13:58] AArnott commented on #266
I'm sorry to hear that, @dmalanij. Can you open a new issue to track this one? Hopefully @kovalikp  will know what's going on.

[2017-12-20 18:58] dmalanij opened #297 "NuProj for VS 2017 fails to build in AssignTargetFramework task"
Taking over from the comment in #266.

I've installed the [just published extension](https://marketplace.visualstudio.com/items?itemName=NuProjTeam.NuProj2017), the vsix manifest information is as follows:
* id: NuProj.15
* version: 0.20.9.13653

Unfortunately, is not working. At least not for me in 3 different computers (including one where Nuproj for VS2015 used to work perfectly fine). Even if

[2017-12-21 18:18] dmalanij commented on #297
Ok. with the help of the Fusion log I was able to get it working. However I believe is a big and dangerous workaround. What I did was taking some Nuget dlls from their published packages and store them in the nuproj installation path. The packages I had to take those from are:
- NuGet.Frameworks
- NuGet.Packaging.Core
- NuGet.Packaging.Core.Types
- NuGet.Packaging
- NuGet.Versioning

All of them w

[2018-01-11 02:20] Kolky commented on #297
@dmalanij that trick worked aswell for me, however an official solution would be nice!

[2018-01-24 14:04] BjoernHund commented on #297
We have the same problem with the current version of `nuproj`

[2018-01-29 07:35] efvink opened #298 "NuProj for VS2017 fails to package .NET 4.6.1 projects in new csproj format"
I'm trying to use NuProj to package a .NET 4.6.1 project which is written with the new csproj format, and getting the following error:

The issue does not appear for projects using the old format.
As a workaround, I added

`<TargetFrameworkVersion>v4.6.1</TargetFrameworkVersion>`

 to the NuProj project and it worked, but an official fix would be better.

[2018-02-01 23:04] tnt-7 commented on #297
I had to uninstall Nuproj for VS2017 extension and it worked fine with CLI.

[2018-02-07 15:09] Siderite commented on #297
In order to make the extension work for 2017 (at least for the project that I had) follow these steps:
- download source from https://github.com/nuproj/nuproj
- open src/NuProj.sln with Visual Studio 2017
- remove projects NuProj.ProjectSystem.12, NuProj.ProjectSystem.14 and NuProj.Setup
- build the project
- right-click on NuProj.ProjectSystem.15 and add a new folder called NuProj
- right-click o

[2018-03-20 19:56] itzamna314 opened #299 "MsBuild fails on VSTS build agent due to COMException"
I'm attempting to build some NuProj projects as part of a VSTS build pipeline.  I'm invoking MsBuild with the following parameters:

[code]

Those parameters work fine on my local machine, but when I run the build on the VSTS build agent, I get the following exception:

[code]

I was hoping that setting `GenerateSymbolPackage=false` would skip the `ReadPdbSourceFiles` task entirely, but that doesn

[2018-03-20 20:18] itzamna314 commented on #299
I was able to find a workaround - I included the following flags to skip all .pdb creation:
` /p:DebugSymbols=false /p:DebugType=None`

I would like to be able to include `.pdb`s eventually, though, so any help on this issue would still be appreciated.

[2018-03-20 20:20] AArnott commented on #299
This doesn't block inclusion of PDBs -- this blocks including source files themselves into the package based on what is found in the PDB.

[2018-03-20 21:45] itzamna314 commented on #299
Ah, gotcha.  In any case, it would be nice to be able to include all available debugging information in the packages that are built on the build server.

[2018-04-30 09:50] ivan-sam opened #300 "NuProj auto-detection of packages folder is not always working"
NuProj ReadPackagesConfig task tries to locate package directory path (PackageReferences.PackageDirectoryPath metadata) by probing directories `<currentDir>\packages\<package-id>.<package-version>` starting from project's directory all the way up.

Later PackageDirectoryPath is used to exclude libraries coming from NuGet dependencies from final package files list (target GetPackageFiles).

I found

[2018-05-16 10:00] SimonSDA opened #301 "Could not load file or assembly 'NuGet.Packaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies."
When attempting to create a nuproj file for a 3rd party DLL (in this case an old Infragistics DLL) I get the error in the title. Here is the nuproj file:

[code]

I am using Visual Studio Enterprise 2017 15.7.1

Two errors occur:

**Severity	Code	Description	Project	File	Line	Suppression State**
Error		Could not load file or assembly 'NuGet.Packaging, Version=4.0.0.0, Culture=neutral, PublicKeyTok

[2018-05-22 06:29] ivan-sam commented on #301
I have similar issue for NuProj projects created using Visual Studio 2017 and NuProj VS extension version 0.20.9.13653. The stack trace is a bit different:

[code]

The problem is that such projects refer `<NuProjPath Condition=" '$(NuProjPath)' == '' ">$(MSBuildExtensionsPath)\NuProj\</NuProjPath>`

Here is the content of that folder:
[code]

And here's the content of NuProj package tools folder

[2018-07-20 21:16] jorgy343 commented on #301
For my NuProj project to compile I had to reference the 0.20.4-beta nuget package. My .nuproj file thus contains
[code]

[2018-07-24 13:05] carlowahlstedt commented on #51
It seems there's a long standing (but started around the same time as this) issue in the nuget area about this same thing, but there has yet to be any update provided over there. https://github.com/NuGet/Home/issues/545

[2018-07-26 18:46] eli-darkly opened #303 ""_NuProjGetProjectClosure" does not exist in the project (VS 2017)"
After installing NuProj for VS 2017, I added a new NuGet project to an existing solution. I made no changes to it except to add references to the other projects that should be in the package. Then I tried to build it, and got this:

`error MSB4057: The target "_NuProjGetProjectClosure" does not exist in the project.`

[2018-07-26 18:49] eli-darkly opened #304 "NuProj for VS 2017 not compatible with Mac VS 2017 .nuproj?"
Mac Visual Studio apparently supports NuGet package projects out of the box. However, when I opened a solution in Windows that I had created on a Mac, the `.nuproj` project was shown as "(incompatible) - The application is not installed." Similarly, when I created a NuGet project on Windows, it was shown as invalid on the Mac.

Are these project types supposed to be interoperable? If not, is there

[2018-08-07 15:03] rodro75 commented on #297
Same problem for me.
I have both VS2015 Community AND VS2017 Community installed.
The solution suggested by @dmalanij worked for me: I copied the assemblies only in `C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Nuproj` folder.

[2018-10-11 08:04] DheerendraRathor opened #305 "Nuproj for VS 17 is inserting ProjectGuid in nuproj files automatically"
We have some nuproj files without `ProjectGuid` `PropertyGroup`. On project load in VS 17, all nuproj files are auto updated with
[code]
Though it doesn't look like a harmful change, but is it actually necessary that nuproj files are modified on fly by the extension? Is it a feature or just an artifact?

[2018-10-31 07:19] romanogolikhin commented on #304
I have the same problem.

[2018-11-08 05:34] AArnott commented on #304
If VS for Mac supports a .nuproj project type, it's completely unrelated to this project. I had heard that some other folks had reused project file extension for their own use. That might be what this is. They didn't go to any effort to make them interoperable. And at this point, this project is on ice since .NET SDK projects make packages so easy to build.

[2018-11-08 05:34] #304 closed, assigned to nobody

[2018-11-23 06:12] JasonMrX opened #306 "<ExcludeFromNuPkg> not working when <HintPath> exists"
`<ExcludeFromNuPkg>` **NOT** taking effect in the following example:
[code]

To bypass the issue, we have to get rid of the `<HintPath>` tag, which doesn't make sense to us:
[code]

Just wondering if this is known/expected.

Thanks folks for the great work!

Jason

[2018-11-23 06:24] JasonMrX commented on #306
@AArnott who originally added support for reference exclusion. Thanks!

[2018-11-26 23:04] AArnott commented on #306
This project isn't maintained by its original owners any more (myself included). We encourage folks to use .NET SDK self-packaging projects or other more modern methods. NuProj is quite old compared to the latest NuGet and csproj standards.

[2019-02-08 17:58] joepeavey commented on #297
WTF why hasn't this been updated in the latest release already?

[2019-02-08 19:28] joepeavey commented on #297
DOES ANYONE HAVE THE CORRECT FILES THAT THEY CAN SHARE? FINDING THE CORRECT VERSION IS A NIGHTMARE....

[2019-02-09 12:35] dmalanij commented on #297
@joepeavey It's not that difficult. Here is a detailed step list

1. Download the nuget packages. Just to avoid you the search in the repository here you have the links:
    - https://www.nuget.org/packages/NuGet.Packaging/4.0.0
    - https://www.nuget.org/packages/NuGet.Packaging.Core/4.0.0
    - https://www.nuget.org/packages/NuGet.Packaging.Core.Types/4.0.0
    - https://www.nuget.org/packages/

[2019-02-09 16:33] BjoernHund commented on #297
@dmalanij good comment

[2019-02-13 20:25] JacksReacher commented on #297
@dmalanij Thanks for your assistance. Unfortunately, that didn't resolve the issue completely.

If you checked "include source files in pdb", you'll get the error:
_The "ReadPdbSourceFiles" task failed unexpectedly_

Seems if you run: regsvr32.exe "%VSINSTALLDIR%\Common7\IDE\msdia120.dll It will resolve it.

[2019-04-24 17:49] ErikApption opened #307 "Template is not available in Visual Studio 2019"
I was able to install the extension without any issues but the template is not showing up in the new project wizard...

[2019-05-21 21:42] AleRoe opened #308 "Nuget packages not identified as dependency when using PackageReference"
I'm using Nuproj to package a ClassLibrary project (VS2017)
The ClassLibrary references a singe Nuget package.
The ClassLibrary uses PackageReference instead of Packages.config.

When building the Nuget package, the external package reference is not identified as a dependency. Instead, all the DLLs from the external package are copied into the package.

If I build the same project using Packages.c

[2019-05-21 23:22] AArnott commented on #308
NuProj is no longer under active development. It supported a packages.config world. With PackageReference and self-packing projects, NuProj is hardly necessary any more.

[2019-05-21 23:22] #308 closed, assigned to nobody

[2019-06-10 21:23] jerchap opened #309 "Is this project still supported or maintained"
Looking for support with Visual Studio 2019.  Is this project current and maintained?

[2019-06-10 21:26] AArnott commented on #309
No. It's not supported or maintained any more. Folks should use self-packing .csproj projects where possible. Where that's not an option, ... we're still not maintaining this any more.

[2019-06-10 21:26] #309 closed, assigned to nobody

[2019-08-02 14:39] docwattsman commented on #303
I can confirm the exact same issue. Added a new reference to a long existing project, and blam!
Nobody on the contribution team has commented about this in almost a year?

[2019-08-02 14:43] docwattsman commented on #303
In a different issue, there are a couple suggested answers.
Try adding NuGet package for NuProj.Common to your nuproj project.
See https://github.com/nuproj/nuproj/issues/142
Hope this helps others.

[2019-09-10 11:24] RonenGlants commented on #307
Is there a way to support nuproj in VS 2019?

[2019-09-10 14:31] AArnott commented on #307
Sure. But the current owners including myself are not interested in taking this project forward.

[2019-10-01 22:24] ndrwrbgs commented on #307
@AArnott I'm sure it exists somewhere and I just haven't found it yet, but what is the suggestion for folks depending on this to move forward? Should we be replacing nuproj with another feature? Any chance there are guides for doing that?

[2019-10-01 22:54] AArnott commented on #307
If you must continue using nuproj but lack of its continued development is getting to you, you can fork it and take it forward.
We haven't written migration guides. Here's the guidance I follow though:

1. blow away the nuproj from your repo.
1. create or update your csproj to pack itself
1. compare the resulting nuspec from before and after the change and fiddle with csproj until it meets your ne

[2019-10-01 22:54] #307 closed, assigned to nobody